@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
  --primary-color: white;
  --secondary-color: black;
  --pale-blue: #EFFAFD;
  --royal-blue: #4A8BDF;
  --eggplant: #A0006D;
}

html, body {
  margin: 0;
  font-family: 'Raleway';
  width: auto!important;
  overflow-x: hidden!important
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .section {
      flex-direction: column;
  }
}